<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- The element will be interpreted by Browser : navigation -->
    <div class="container-fluid">
        <!-- menu button was hidden  -->
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-1">

                <!-- collapse navbar-collaspe div ingredient -->
                <span class="sr-only">Toggle navigation</span>
                <!--  Every line in content of the Button-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- !! Id = bs-1 navbar-header -->
        <div class="collapse navbar-collapse" id="bs-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">Action</a></li>
                <li><a href="">brand</a></li>
                <li><a href="">brand</a></li>
                <li><a href="">brand</a></li>
            </ul>

            <!-- location form-->
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Keywords"/>
                </div>
                <button class="btn btn-info" type="submit" >search</button>
            </form>

            <!--<button class="btn btn-info navbar-btn">Sign in</button> -->

            <p class="navbar-text">Sign in Mark Zuckerberg</p>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button"> Action<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another</a></li>
                        <li class="divider"><a href=""></a></li>
                        <li><a href="#">Something</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
